<div class="container">
  <div class="row">
    <!-- 左側： User info と New Book -->
    <div class="col-md-4">
      <%= render 'books/sidebar' %>
    </div>

    <!-- 右側： Books リスト -->
    <div class="col-md-8">
      <h2>Books</h2>

      <table  class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @user.books.each do |book| %>
            <tr>
              <td>
                <%= image_tag current_user.get_profile_image(100,100) %>
              </td>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>