<div class="user-info">
  <h2>User Info</h2>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <p>Name: <%= current_user.name %></p>
  <p>Introduction: <%= current_user.introduction %></p>
  <%= link_to '<i class="fa-solid fa-user-gear"></i>'.html_safe, edit_user_path(current_user), class: 'edit-profile-link' %>
</div>