@use '~bootstrap/scss/bootstrap';

header {
  border-bottom: 2px solid grey;
}

footer {
  margin-top: 20px;
  border-top: 2px solid grey;
  .footer-p {
    text-align: center;
    padding: 10px;
  }
}

.edit-profile-link {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f8f9fa;
}

.user-info {
  margin-bottom: 10px;
}

.top-page-content {
  text-align: center;
  padding: 40px 0;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.table th, .table td {
  vertical-align: middle;
}

.user-edit-form {
  margin: 10px 30%;
  .field {
    margin-bottom: 10px;
  }
}

.book-edit-form {
  margin: 10px 30%;
  .field {
    margin-bottom: 10px;
  }

  input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box;
  }
}



.about {
  text-align: center;
  padding: 10px 0;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}