.top-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.bold {
  font-size: bold;
}

.auth-buttons .btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}